@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,400&display=swap");
html,
body {
  height: 100%;
  background: black;
}

h1,
h3,
h4,
p,
a,
input,
label,
div,
button {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  line-height: 100%;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .main {
  flex: 1 1 auto;
}

.load-contant {
  width: 100%;
  display: flex;
  justify-content: center;
}
.load-contant__icon {
  margin: 20px 50px 50px 50px;
  border-radius: 100%;
}
.load-contant__icon:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  min-height: 70px;
  background-color: rgb(0, 102, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  width: 1400px;
}
.header__title {
  font-size: 38px;
  color: azure;
}
.header .filter-btn {
  cursor: pointer;
  margin-right: 20px;
}
.header .sign-in-btn {
  cursor: pointer;
  height: 46px;
}

.footer {
  width: 100%;
  min-height: 70px;
  background-color: rgb(0, 102, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .users {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 70px;
}
.container .users__link {
  margin: 20px;
  overflow: hidden;
  border-radius: 8px;
}
.container .users__link:hover {
  box-shadow: 0px 0px 10px 1px rgb(10, 90, 170);
}
.container .users__item {
  max-width: 320px;
  height: 470px;
  background-color: rgb(16, 16, 16);
}
.container .users__img {
  width: 280px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .users__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  height: 120px;
}
.container .users__name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 18px 0 12px;
  color: rgb(20, 160, 210);
}
.container .users__age {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.container .users__city {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}
.container .users__website {
  font-size: 18px;
  text-align: center;
}
.container .users-filter-contant {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 70px;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.page .user {
  margin: 100px 0 40px 40px;
  width: 480px;
  display: flex;
}
.page .user .avatar {
  max-width: 230px;
  max-height: 230px;
}
.page .user__description {
  height: 230px;
  margin-top: 30px;
  margin-left: 40px;
}
.page .user__name {
  font-size: 22px;
  font-weight: 700;
  color: rgb(20, 160, 210);
}
.page .user__city {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 20px;
}
.page .user__website {
  font-weight: 500;
}
.page .posts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.page .posts__link {
  overflow: hidden;
  border-radius: 8px;
  margin: 15px;
}
.page .posts__link:hover {
  box-shadow: 0px 0px 10px 1px rgb(20, 160, 210);
}
.page .posts__item {
  width: 450px;
  height: 450px;
  background-color: rgb(16, 16, 16);
}
.page .posts__photo {
  width: 480px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 14px;
}
.page .posts__title {
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  margin-bottom: 16px;
  text-align: center;
  color: rgb(20, 160, 210);
}
.page .posts__description {
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  text-align: center;
  margin: 0 12px;
}

.comments-header {
  width: 100%;
  margin-bottom: 80px;
}
.comments-header .post {
  max-height: 270px;
  margin: 100px 40px 40px 40px;
}
.comments-header .post__item {
  display: flex;
  align-items: center;
}
.comments-header .post__photo {
  max-width: 360px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
.comments-header .post__title {
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  margin: 0 0 16px 16px;
  text-align: center;
  color: rgb(20, 160, 210);
}
.comments-header .post__description {
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
  text-align: center;
  margin: 0 50px;
}

.comments-main {
  margin-bottom: 30px;
}
.comments-main .comment {
  max-width: 1000px;
  margin: 0 auto 30px;
  background-color: rgb(16, 16, 16);
  padding: 6px;
  border-radius: 6px;
}
.comments-main .comment:hover {
  box-shadow: 0px 0px 5px 1px rgb(20, 160, 210);
  cursor: pointer;
}
.comments-main .comment .user-email {
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgb(20, 160, 210);
}
.comments-main .comment .comment-text {
  font-size: 18px;
  line-height: 140%;
  text-transform: capitalize;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 150px auto;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgb(19, 138, 223);
  border-radius: 50%;
  -webkit-animation: lds-default 1.2s linear infinite;
          animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@-webkit-keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.load-contant {
  width: 100%;
  height: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(23, 93, 224);
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.filter {
  position: fixed;
  z-index: 50;
  overflow: hidden;
  margin: 180px auto;
  display: none;
}
.filter__contant {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.8fr 0.8fr 0.8fr;
  align-items: center;
  justify-items: center;
  width: 400px;
  height: 300px;
  background-color: rgb(26, 26, 26);
  border-radius: 20px;
}
.filter__title {
  font-size: 28px;
  font-weight: 600;
  color: rgb(20, 160, 210);
}
.filter__age-input {
  height: 24px;
  width: 240px;
  border: none;
  border-bottom: 1px solid rgb(39, 39, 39);
  background-color: rgb(26, 26, 26);
}
.filter__age-input::-moz-placeholder {
  color: aliceblue;
  font-size: 16px;
}
.filter__age-input:-ms-input-placeholder {
  color: aliceblue;
  font-size: 16px;
}
.filter__age-input::placeholder {
  color: aliceblue;
  font-size: 16px;
}
.filter .search-btn {
  height: 38px;
  width: 180px;
  border-radius: 10px;
  border: none;
  color: aliceblue;
  background-color: rgb(20, 160, 210);
}

.filter_active {
  display: block;
}

.sign-in-form {
  position: fixed;
  z-index: 50;
  margin: 180px auto;
  display: block;
}
.sign-in-form__contant {
  border-radius: 20px;
  width: 320px;
  height: 460px;
  background-color: rgb(26, 26, 26);
}
.sign-in-form__item {
  display: none;
}
.sign-in-form__item_active {
  display: grid;
}
.sign-in-form__img {
  width: 150px;
  height: 150px;
  margin: 22px 0 10px;
}
.sign-in-form-email {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 0.75fr;
  justify-items: center;
}
.sign-in-form-email__description {
  text-align: center;
  color: rgb(20, 160, 210);
  margin: auto;
}
.sign-in-form-email__email-input {
  width: 240px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(39, 39, 39);
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  margin: auto;
}
.sign-in-form-email__email-input::-moz-placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-email__email-input:-ms-input-placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-email__email-input::placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-email__password-input {
  width: 240px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(39, 39, 39);
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  margin: auto;
}
.sign-in-form-email__password-input::-moz-placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-email__password-input:-ms-input-placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-email__password-input::placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-email__continue-btn {
  width: 200px;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(20, 160, 210);
  color: aliceblue;
  border: none;
  margin: auto;
}
.sign-in-form-acquaintance {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 0.25fr 0.4fr;
  justify-items: center;
}
.sign-in-form-acquaintance__description {
  text-align: center;
  margin: auto;
  color: rgb(20, 160, 210);
  margin-bottom: 12px;
}
.sign-in-form-acquaintance__name-input {
  width: 240px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(39, 39, 39);
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  margin: auto;
  margin-bottom: 10px;
}
.sign-in-form-acquaintance__name-input::-moz-placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-acquaintance__name-input:-ms-input-placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-acquaintance__name-input::placeholder {
  color: aliceblue;
  font-size: 14px;
}
.sign-in-form-acquaintance__gender-buttons {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 10px;
}
.sign-in-form-acquaintance__gender-buttons input[type=radio] {
  display: none;
}
.sign-in-form-acquaintance__gender-buttons label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sign-in-form-acquaintance__gender-buttons input[type=radio]:checked + label {
  background: rgb(20, 160, 210);
}
.sign-in-form-acquaintance__gender-buttons-item label {
  width: 60px;
  text-align: center;
}
.sign-in-form-acquaintance__date {
  color: aliceblue;
  width: 200px;
  height: 30px;
  background: #333;
  margin-bottom: 14px;
}
.sign-in-form-acquaintance__buttons {
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.sign-in-form-acquaintance__buttons-prev {
  background: none;
  border: none;
}
.sign-in-form-acquaintance__buttons-next {
  background: none;
  border: none;
}
.sign-in-form-orientation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 1fr;
  justify-items: center;
}
.sign-in-form-orientation__description {
  color: rgb(20, 160, 210);
}
.sign-in-form-orientation__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 220px;
}
.sign-in-form-orientation__item {
  margin: 0.5rem;
}
.sign-in-form-orientation__item input[type=radio] {
  position: absolute;
  opacity: 0;
}
.sign-in-form-orientation__item input[type=radio] + .orientation-radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.sign-in-form-orientation__item input[type=radio]:checked + .orientation-radio-label:before {
  background-color: rgb(20, 160, 210);
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.sign-in-form-orientation__item input[type=radio]:focus + .orientation-radio-label:before {
  outline: none;
  border-color: rgb(20, 160, 210);
}
.sign-in-form-demands {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr 0.9fr 0.3fr;
}
.sign-in-form-demands__description {
  color: rgb(20, 160, 210);
}
.sign-in-form-demands__list {
  width: 250px;
}
.sign-in-form-demands__list li {
  display: inline;
}
.sign-in-form-demands__list li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
  padding: 4px 8px;
}
.sign-in-form-demands__list li label::before {
  content: "✔";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  transition: transform 0.3s ease-in-out;
}
.sign-in-form-demands__list li input[type=checkbox]:checked + label::before {
  content: "✘";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}
.sign-in-form-demands__list li input[type=checkbox]:checked + label {
  background-color: rgb(20, 160, 210);
  color: #fff;
  transition: all 0.2s;
}
.sign-in-form-demands__list li input[type=checkbox] {
  display: absolute;
}
.sign-in-form-demands__list li input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.sign-in-form_active {
  display: block;
}

.error {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  min-height: 420px;
}
.error .error-text {
  font-size: 38px;
  text-transform: capitalize;
  text-align: center;
  color: rgb(74, 72, 72);
}