.comments-header {
	width: 100%;
	margin-bottom: 80px;
	.post {
		max-height: 270px;
		margin: 100px 40px 40px 40px;
		&__item {
			display: flex;
			align-items: center;
		}
		&__photo {
			max-width: 360px;
			height: 270px;
			object-fit: cover;
		}
		&__title {
			font-size: 20px;
			line-height: 120%;
			text-transform: capitalize;
			margin: 0 0 16px 16px;
			text-align: center;
		}
		&__description {
			font-size: 18px;
			line-height: 140%;
			text-transform: capitalize;
			text-align: center;
			margin: 0 50px;
		}
	}
}
.comments-main {
	margin-bottom: 30px;
	.comment {
		max-width: 1000px;
		margin: 0 auto 30px;

		.user-email {
			font-size: 20px;
			line-height: 120%;
			text-transform: capitalize;
			margin-bottom: 10px;
			font-weight: 700;
		}
		.comment-text {
			font-size: 18px;
			line-height: 140%;
			text-transform: capitalize;
		}
	}
}
