.header {
	width: 100%;
	min-height: 70px;
	background-color: rgb(0, 102, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	&__contant {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 70px;
		width: 1400px;
	}
	&__title {
		font-size: 38px;
		color: azure;
	}
	.filter-btn {
		cursor: pointer;
	}
}
