.sign-in-form {
	position: fixed;
	z-index: 50;
	margin: 180px auto;
	border-radius: 20px;
	overflow: hidden;
	display: none;
	&__contant {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 0.5fr;
		justify-items: center;
		width: 340px;
		height: 440px;
		background-color: rgb(26, 26, 26);
	}
	&__description {
		text-align: center;
		color: aliceblue;
	}
	&__input {
		width: 240px;
		height: 36px;
		border: none;
		border-bottom: 1px solid rgb(39, 39, 39);
		background-color: rgb(26, 26, 26);
		color: aliceblue;
		&::placeholder {
			color: aliceblue;
			font-size: 16px;
		}
	}
	&__input_password {
		//background: ;
	}
	&__btn {
		width: 200px;
		height: 40px;
		border: none;
		border-radius: 12px;
		background-color: orangered;
		color: aliceblue;
	}
}

.sign-in-form_active {
	display: block;
}
