html,
body {
	height: 100%;
}

h1,
h3,
h4,
p,
a {
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	line-height: 100%;
	font-size: 16px;
	color: rgb(60, 60, 60);
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	.main {
		flex: 1 1 auto;
	}
}

.load-contant {
	width: 100%;
	display: flex;
	justify-content: center;
	&__icon {
		margin: 20px 50px 50px 50px;
		border-radius: 100%;
		&:hover {
			cursor: pointer;
		}
	}
}